@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="position:relative; ">
    <h3 class="pull-left" style="display:inline-block">汇总信息</h3>
    <div style="display:inline-block;margin:24px 0;padding-left:10px;">共<span data-bind="text: list().length"></span>条记录，总重量：<span class="gmk-weight" data-bind="    text: totalWeight"></span>，总金额：<span class="gmk-amount" data-bind="    text: totalAmount"></span>元</div>
</div>
<table class="table table-bordered table-hovered">
    <thead>
        <tr>
            <th>Id</th>
            <th>交易日期</th>
            <th>计价重量</th>
            <th>成交价</th>
            <th>更新时间</th>
            <th>核算主体</th>
            <th>交易员</th>
            <th>币种</th>
            <th>计价品种</th>
            <th>方向</th>
            <th>法人</th>
            <th>客户</th>
            <th>操作类型</th>
            <th>对象ID</th>
            <th>对象类型</th>
            <th>关联GUID</th>
            <th>数据类型</th>
            <th>修改人</th>
            <th>合同ID</th>
            <th>处理状态</th>
            <th>升贴水</th>
            <th>延期费用</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:list">
        <tr>
            <td data-bind="text: AccountingDataLogId" style="width:20px"></td>
            <td data-bind="text:TradeDate" style="width:70px" class="gmk-datetime"></td>
            <td data-bind="text: Volume" class="gmk-weight"></td>
            <td data-bind="text: Price" class="gmk-amount"></td>
            <td data-bind="text: UpdateTime" style="width:70px" class="gmk-datetime"></td>
            <td data-bind="text:AccountingEntity"></td>
            <td data-bind="text:Sponsor"></td>
            <td data-bind="text:Currency"></td>
            <td data-bind="text:Commodity"></td>
            <td data-bind="text:Direction"></td>
            <td data-bind="text:Corporation"></td>
            <td data-bind="text:Counterparty"></td>
            <td data-bind="text:OperationType"></td>
            <td data-bind="text:ObjectId"></td>
            <td data-bind="text:ObjectType"></td>
            <td data-bind="text:LinkId"></td>
            <td data-bind="text:DataType"></td>
            <td data-bind="text:Modifier"></td>
            <td data-bind="text:ContractId"></td>
            <td data-bind="text:ProcessingStatus"></td>
            <td data-bind="text:PremiumDiscount"></td>
            <td data-bind="text: ExtensionFee"></td>
        </tr>
    </tbody>
</table>
@section scripts {
    <script type="text/javascript" src="~/Scripts/app/FeatureBase.js?_=@GMK.OperationSystem.Web.Models.Constrants.Version"></script>
    <script type="text/javascript">
        $(function () {
            GMK.Features.CommonModels.onReady(function (commonModels) {
                GMK.Accounting = GMK.Accounting || {};
                GMK.Accounting.ListViewModel = function (routes) {
                    var self = this, base = GMK.Features.FeatureBase;
                    self.list = ko.observableArray();
                    self.totalWeight = ko.observable();
                    self.totalAmount = ko.observable();
                    function fill(data) {
                        self.list(data.Data);
                        var totalWeight = 0, totalAmount = 0;
                        $.each(self.list(), function (i, item) {
                            totalWeight += utils.parseFloat(item.Volume);
                            totalAmount += utils.parseFloat(item.Volume) * utils.parseFloat(item.Price);
                        });
                        self.totalWeight(totalWeight);
                        self.totalAmount(totalAmount);
                    }
                    self.initialize = function () {
                        base._get(routes.listUrl, { contractCode: routes.contractCode }, function (data) {
                            fill(data);
                        });
                    };
                };
                var viewModel = new GMK.Accounting.ListViewModel({
                    contractCode: '@(ViewBag.ContractCode)',
                    listUrl: '@(Url.Action("List"))'
                });
                viewModel.initialize();
                ko.applyBindings(viewModel);
            });
        });
    </script>
}